/* Estilos generales */
.profile-container {
  max-width: 1500px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
/* Hace que el contenedor principal ocupe toda la altura de la pantalla */
.profile-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 50vh; /* Hace que ocupe toda la pantalla */
}


.profile-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Estilos para el contenedor de tarjetas */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos para las tarjetas de mascotas */
.pet-card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px #2c7a7b;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #1a1a1a, #333);
  color: white;
  cursor: pointer;
}

.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px;
  color: #ff9900;
}

.pet-card img {
  height: 180px;
  object-fit: cover;
  border-bottom: 3px solid #ff9900;
}

.pet-card .card-body {
  padding: 10px;
  background-color: beige;
}

.pet-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff9900;
  text-transform: uppercase;
  text-align: center;
}

/* Estilos para el modal */
.modal-pet-info {
  text-align: center;
}

.modal-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
